@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins||Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.committee{
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: 40px 10% 10px 10%;
    font-family: 'Poppins', sans-serif;
}

.committeetitle{
    color: rgb(0, 70, 105);
    font-size: 40px;
    font-weight: 700;
}

.committeemembers{
    display: grid;
}

.membersx{
    margin-bottom: 40px;
}