
.events{
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: 40px 10% 10px 10%;
}

.eventstitle{
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 70, 105);
}

.event_colx img{
    height: 300px;
    width: 400px;
    margin-bottom: 15px;
}

.events_list{
    margin-bottom: 20px;
}