

.Headermid{
    background-color: white;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    flex: auto;
}

.Headermid_left{
    background-color: white;
    width: 100%;
}

.Headermid_center{
    background-color: white;
    width: 100%;
}

.Headermid_right{
    background-color: white;
    width: 100%;
}

.chapter_logo{
    background-image: url("./chapter_logo.png");
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10%;
}

.vit_logo{
    background-image: url("./vit_logox.png");
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10%;
}

.ieee_logo{
    background-image: url("./ieee_logo.png");
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10%;
}