

.Headertop{
    background-color: rgb(0,70,105);
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    height: fit-content;
    text-align: center;
    padding-left: 30px;
    /* border-top: 1px solid rgb(0,70,105); */
    border-top: 1px solid rgb(205, 238, 255);
}

.Headertop li{
    font-size: 15px;
    padding: 5px 13px;
    line-height: 25px;
    font-weight: 700;
    color: rgb(205, 238, 255);
}